:root.theme-dark {
  --accent-color: #ff0070;
  --accent-color-alpha: #ff007066;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --title-decor-color: #000028;
  --section-title-color: var(--accent-color);
  --button-color: var(--accent-color);
  --decorated-zone-color: var(--accent-color);
  --title-decor-background-color: var(--accent-color);
  --cover-image: url(../images/cover-image-dark.png);
}
